@import "@mantine/core/styles.css";
@import "@mantine/carousel/styles.css";

@layer {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;

html {
  background: rgb(36 36 36);
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
}

.DarkDefault {
  color: rgb(36 36 36);
}
.DarkBG {
  background: #1a1b1e;
}
.DarkBG2 {
  background: #052920;
}
.ERRORBG {
  background: #25202e;
}
.ERROTREXT {
  color: #b097dd;
}

.info-Card {
  position: absolute;
  padding: 2rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
  z-index: 1002;
}
.mantine-Carousel-controls {
  padding: 0;
  margin: 0;
  top: 0;
  position: absolute;
  height: 200px;
}
.mantine-Carousel-control {
  border-radius: 0;
  padding: 0;
  margin: 0;
  top: 0;
  width: 40px;
  height: 200px;
  position: relative;
  box-shadow: none;
  background-color: #052920;
}

.card-List-top {
  position: relative;
  z-index: 10;
}

@keyframes fadeOut {
  0% {
    background-color: white;
  }
  100% {
    background-color: transparent;
  }
}

@media (min-width: 768px) {
  .bgCard {
    height: 200px;
  }
  .card-List-top {
    transition: transform 0.3s ease;
    height: 200px;
  }
  .card-List-top:hover {
    height: auto;
    overflow: visible;
    position: relative;
    z-index: 900;
    transform: scale(1.4) translateY(7.5px);
    transform-origin: left;
  }
  .mantine-Carousel-viewport {
    z-index: 900;
  }

  .mantine-Carousel-viewport:hover {
    overflow: visible;
    padding: 0;
    width: 100vw;
    position: relative;
  }

  .mantine-Carousel-slide:not(:hover) {
    overflow: hidden;
  }
}
@media (max-width: 767px) {
  .bgCard {
    height: 75px;
  }
  .card-List-top {
    height: 200px;
  }
  .card-List-top:hover {
    transform: none;
    transition: none;
  }
}
